.popup__caption {
  
    padding: 0;
    padding-top: 10px;
    margin: 0;
    font-family: 'Inter', Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.5px;
    color: white;
   
  

}